<ion-content [fullscreen]="true">

  <div class="vcs" style="margin-top: 2rem;">
    <ion-list>
      <ion-item>
        <ion-select interface="popover" placeholder="Выберете викторину" [(ngModel)]="selectedQuiz">
          <div *ngFor="let quiz of quizes; let i = index">
            <ion-select-option value="{{i}}">{{quiz.label}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button (click)="openQuiz()">Пройти викторину</ion-button>
  </div>
</ion-content>
